<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Classification Prediction Tool</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body >
        <div class="content">
            <div>
                <h1 align="center">
                    Welcome to semiconductor classification prediction tool
                </h1>
            </div>

            <form method="post" action="/Model">
                <div>
                    <input type="number" id=="features_59" name="features_59" placeholder="features_59" step="0.0001">
                    <input type="number" id="features_76" name="features_76" placeholder="features_76" step="0.0001">
                    <input type="number" id="features_79" name="features_79" placeholder="features_79" step="0.0001">
                    <input type="number" id="features_95" name="features_95" placeholder="features_95" step="0.0001">
                    <input type="number" id="features_100" name="features_100" placeholder="features_100" step="0.0001">
                    <input type="number" id="features_114" name="features_114" placeholder="features_114" step="0.0001">
                    <input type="number" id="features_129" name="features_129" placeholder="features_129" step="0.0001">
                    <input type="number" id="features_159" name="features_159" placeholder="features_159" step="0.0001">
                    <input type="number" id="features_160" name="features_160" placeholder="features_160" step="0.0001">
                    <input type="number" id="features_210" name="features_210" placeholder="features_210" step="0.0001">
                    <input type="number" id="features_468" name="features_468" placeholder="features_468" step="0.0001">
                    <input type="number" id="features_511" name="features_511" placeholder="features_511" step="0.0001">
                    <input type="number" id="features_589" name="features_589" placeholder="features_589" step="0.0001">
                </div>>
                <div align="center">
                    <button> Predict </button>
                </div>
            </form>
        </div>

    </body>
</html>